<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587982285191-0eqnatdtp8grom3g71ph1fphs9dad6o7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587982285191-0eqnatdtp8grom3g71ph1fphs9dad6o7</string>
	<key>API_KEY</key>
	<string>AIzaSyA1EtONcVy9EwYAXz4jNfALHg5mYBrbETg</string>
	<key>GCM_SENDER_ID</key>
	<string>587982285191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sha8alny.shaghalny</string>
	<key>PROJECT_ID</key>
	<string>shaghalny-a488f</string>
	<key>STORAGE_BUCKET</key>
	<string>shaghalny-a488f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587982285191:ios:774adc24fd12b393934b22</string>
</dict>
</plist>